<mat-toolbar color="primary">
  <button mat-icon-button
          aria-label="Example icon button with a menu icon"
          (click)="drawer.toggle()"
          color="primary">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title" >{{title}}</span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav  #drawer class="example-sidenav">
    <section>
      <button mat-stroked-button routerLink="">Calendar</button>
    </section>
    <section>
      <button mat-stroked-button routerLink="tasks">Tasks</button>
    </section>
    <section>
      <button mat-stroked-button routerLink="menu">Menu</button>
    </section>
    <section>
      <button mat-stroked-button routerLink="menuV2">MenuV2</button>
    </section>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>





